<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoENI - Accueil</title>
</head>
<body>
    <header>
        <div class="logoEni">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
        </div>

        <h1 id="titrePage">Cartes Promo 2603</h1>

        <nav>
            <a href="#" id="Burguer-btn">&#9776</a>
            <ul>
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
        </nav>

        
    </header>
    
    <main>

    </main>
</body>
</html>