<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoENI - Accueil</title>
</head>
<body>
    <header>
        <div class="logoEni">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
        </div>

        <h1 id="titrePage">Promo 2603</h1>

        <nav>
            <div class="menu">
            <a href="#" id="Burguer-btn">&#9776</a>
            <ul>
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
            </div>
            
            <form action="">
                <p>Type affichage</p>
                <div class="type affichage">
                    <input type="radio" name="TypeAffichage" id="liste" value="liste" checked>
                    <label for="liste">Liste</label>

                    <input type="radio" name="TypeAffichage" id="cartes" value="cartes">
                    <label for="cartes">Cartes</label>
                </div>
                
            </form>
        </nav>

    </header>
    
    <main>
        <h2>Liste des apprenants</h2>

        <table class="tableListe">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Détails</th>
                </tr>
            </thead>

            <tbody >

                

            </tbody>
        </table>

    </main>



</body>
</html>