<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/modal.css">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/style.css">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/listesCards.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
    <title>PromoENI - Accueil</title>


</head>
<body>
    <header>
        <div class="logoEni">
            <div class="logo">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
            <h3>ECOLE <br>INFORMATIQUE</h3>
            </div>

            <h1 id="titrePage">Promos 2603</h1>
        </div>

        

        <nav>
            <div class="menu">
            <a href="#" id="burger">&#9776</a>
            <ul id="nav">
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
            </div>
            
            <form action="" id="affichageAcc">
                <p>Type affichage</p>
                <div class="type_affichage">
                    <input type="radio" name="TypeAffichages" id="liste" value="liste" checked>
                    <label for="liste">Liste</label>

                    <input type="radio" name="TypeAffichages" id="cartes" value="cartes">
                    <label for="cartes">Cartes</label>
                </div>
                
            </form>
        </nav>

    </header>
    
    <main>
        <h2>Liste des apprenants</h2>
<!--
        <table class="tableListe">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Détails</th>
                </tr>
            </thead>
            
        
        </table>
    -->
    
        <div id="listesApprenants"></div>

        <div id ="cardsApprenants"></div>

    <!--  boite dialogue pour details etudiants -->  
        <dialog id="modal">



            
        </dialog>


        <br>
        <br>
            <div id="map"></div>
  

    </main> 

  <footer></footer>



     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="/Projet-web-1step/front/static/script.js" type="module"></script>
    <script src="/Projet-web-1step/front/static/modal.js" type="module"></script>
    <script type="module" src="/Projet-web-1step/front/static/button.js"></script>
    <script type="module" src="/Projet-web-1step/front/static/clairSombre.js"></script>




</body>
</html>