<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/style.css">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/infoPreferences.css">
    <title>PromoENI - Accueil</title>
</head>
<body>
    <header>
        <div class="logoEni">
            <div class="logo">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
            <h3>ECOLE <br>INFORMATIQUE</h3>
            </div>

            <h1 id="titrePage">Promos 2603</h1>
        </div>

        

        <nav>
            <div class="menu">
            <a href="#" id="burger">&#9776</a>
            <ul id="nav">
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
            </div>
            

        </nav>

    </header>
    
    <main>
        <h2>*INFORMATIONS GENERALES*</h2>
        <h4>Formations du 23/03/2026 au 23/12/2026</h4>
        <p>Nombre d'aprrennats xx</p>

        <section>
            <article>
                <div id="decription-info">

                    <h3>Discription</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus impedit ad ut quo saepe pariatur, amet id! Et impedit repellendus, aspernatur voluptatem, perspiciatis amet eius, pariatur obcaecati facilis magnam maxime.</p>

                </div>
                
            </article>

            <aside>
                <div id="liens-utiles">
                    <h3>Liens utiles </h3>
                    <ol>

                        <li><a href="https://ibmzxplore.influitive.com/" target="_blank" rel="noopener noreferrer">IBM Z Xplore</a></li>
                        <li><a href="https://leetcode.com/" target="_blank" rel="noopener noreferrer">LeetCode</a></li>
                        <li><a href="https://exercism.org/" target="_blank" rel="noopener noreferrer">Exercism</a></li>
                        <li><a href="https://roadmap.sh/" target="_blank" rel="noopener noreferrer">roadmap.sh</a></li>
                        <li><a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">freeCodeCamp</a></li>
                        <li><a href="https://www.codecademy.com/" target="_blank" rel="noopener noreferrer">Codecademy</a></li>

                    </ol>
                </div>
            </aside>

        </section>

        <a href="index.html">Retour à la page d'acceuil</a>

    </main>

   <script type="module" src="/Projet-web-1step/front/static/button.js"></script>
    <script type="module" src="/Projet-web-1step/front/static/clairSombre.js"></script>
</body>
</html>