<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoENI - Accueil</title>
</head>
<body>
    <header>
        <div class="logoEni">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
        </div>

        <h1 id="titrePage">Informations</h1>

        <nav>
            <a href="#" id="Burguer-btn">&#9776</a>
            <ul>
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>*INFORMATIONS GENERALES*</h2>
        <h4>Formations du 23/03/2026 au 23/12/2026</h4>
        <p>Nombre d'aprrennats xx</p>

        <section>
            <article>
                <div id="decription-info">

                    <h3>Discription</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus impedit ad ut quo saepe pariatur, amet id! Et impedit repellendus, aspernatur voluptatem, perspiciatis amet eius, pariatur obcaecati facilis magnam maxime.</p>

                </div>
                
            </article>

            <article>
                <div id="liens-utiles">
                    <h3>Liens utiles </h3>
                    <ol>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>****</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>****</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>***</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>***</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>***</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>****</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>****</li>
                        <li><a href="http://" target="_blank" rel="noopener noreferrer"></a>*****</li>
                    </ol>
                </div>
            </article>

        </section>

        <a href="index.html">Retour à la page d'acceuil</a>

    </main>
   
</body>
</html>