<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/style.css">
    <link rel="stylesheet" href="/Projet-web-1step/front/static/infoPreferences.css">
    <title>PromoENI - Accueil</title>
</head>
<body>

    <header>
        <div class="logoEni">
            <div class="logo">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
            <h3>ECOLE <br>INFORMATIQUE</h3>
            </div>

            <h1 id="titrePage">Promos 2603</h1>
        </div>

        

        <nav>
            <div class="menu">
            <a href="#" id="burger">&#9776</a>
            <ul id="nav">
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
            </div>
            

        </nav>

    </header>
    

    <main>

    <h2>Préférences du site</h2>

    <div id="themesDuSite">
        <div class="choixTheme">
        <form action="">
            <label for="themeSite">Théme du site</label>
            <select name="themeSite" id="themeSite">
                <option value="Clair" selected>clair</option>
                <option value="Sombre">sombre</option>
            </select>
        </form>
        </div>

        <div class="choixAffichages">
        <form action="" id="listeCard">
            <p>Format d'affichage de la liste des apprenants</p>
            <div>
            <label for="Lst">Liste</label>
            <input type="radio" name="choixAffiches" id="Lst" checked value="liste">

            <label for="Crt">Cartes</label>
            <input type="radio" name="choixAffiches" id="Crt" value="cartes">
            </div>
        </form>
        </div>

        <div class="bouttonss">
        <a href="index.html">Retour à la page d'acceuil</a>
        <button id="enregisterTheme" type="submit">Enregistrer</button>
        </div>
    </div>

    </main>

     <script type="module" src="/Projet-web-1step/front/static/scriptPreferences.js"></script>
</body>
</html>