<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromoENI - Accueil</title>
</head>
<body>
    <header>
        <div class="logoEni">
            <img id="logoEni" src="/Projet-web-1step/front/assets/logo.png" alt="image du logo de ecole eni">
        </div>

        <h1 id="titrePage">Préferences</h1>
        
                <nav>
            <a href="#" id="Burguer-btn">&#9776</a>
            <ul>
                <li> <a href="index.html">Accueil</a></li>
                <li> <a href="preferences.html">Préferences</a></li>
                <li> <a href="carte.html">Carte</a></li>
                <li> <a href="informations.html">Informations</a></li>
            </ul>
        </nav>



    </header>
    

    <main>

    <h2>Préférences du site</h2>

    <div id="themesDuSite">
        <form action="">
            <label for="themeSite">Théme du site</label>
            <select name="themeSite" id="themeSite">
                <option value="Clair" selected>clair</option>
                <option value="Sombre">sombre</option>
            </select>
        </form>

        <form action="">
            <p>Format d'affichage de la liste des apprenants</p>

            <label for="Lst">Liste</label>
            <input type="radio" name="choixAffiche" id="Lst" checked>

            <label for="Crt">Cartes</label>
            <input type="radio" name="choixAffiche" id="Crt">
        </form>


        <a href="index.html">Retour à la page d'acceuil</a>
        <button id="enregisterTheme" type="submit">Enregistrer</button>

    </div>

    </main>

</body>
</html>